.header {
  background-color: blue;
  font-size: 20px;
  line-height: 1.5;
}
.header span {
  display: block;
}
.header strong {
  font-size: 15px;
}
.test {
  background-color: blue;
  font-size: 20px;
  line-height: 1.5;
  color: red;
}
.test span {
  display: block;
}
.test strong {
  font-size: 15px;
}
