.header {
    font-size: 20px;
    line-height: 1.5;
}

.header span {
    display: block;
}

.form {
    border: 5px solid blue;
    padding: 35px 20px;
}

.form-header {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 40px;
}
.form-element{
    margin-top: 20px;
}